<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>消息详情</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      .div {
        border-top: #ccc 1px solid;
        border-left: #ccc 1px solid;
        -moz-box-shadow: 3px 4px 5px #cacaca;
        -webkit-box-shadow: 3px 4px 5px #cacaca;
        -o-box-shadow: 3px 4px 5px #cacaca;
        -ms-box-shadow: 3px 4px 5px #cacaca;
        box-shadow: 3px 4px 5px #cacaca;
        text-align: center;
        padding: 10px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div center" class="div">{$msg}</div>
  </body>
</html>
