<!DOCTYPE html>
<htm lang="zh">
  <head>
    <title>消息详情</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
      }
      .string {
        color: green;
      }
      .number {
        color: darkorange;
      }
      .boolean {
        color: blue;
      }
      .null {
        color: magenta;
      }
      .key {
        color: red;
      }
    </style>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(function () {
        var json = $("#msg").html(); // 测试懒得用ajax请求
        $("#json").html(json);

        function syntaxHighlight(json) {
          if (typeof json != "string") {
            json = JSON.stringify(json, undefined, 2); //res是要JSON化的对象，2是spacing
          }
          json = json.replace(/&/g, "&").replace(/</g, "<").replace(/>/g, ">");
          return json.replace(
            /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
            function (match) {
              var cls = "number";
              if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                  cls = "key";
                } else {
                  cls = "string";
                }
              } else if (/true|false/.test(match)) {
                cls = "boolean";
              } else if (/null/.test(match)) {
                cls = "null";
              }
              return '<span class="' + cls + '">' + match + "</span>";
            }
          );
        }
      });
    </script>
  </head>

  <body>
    <div id="msg" style="display: none">{$msg}</div>
    <pre id="json"></pre>
  </body>
</htm>
